
<div class="container login-form d-flex justify-content-center mt-5">
  <div class="login-form-width">
    <div class="card login-form-card">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>
        <%= render 'form', f: f %>
        <div>
          <%= f.button :submit, "Sign up", class: "btn btn-primary text-white" %>
        </div>
        <% end %>
        <div class="pt-3">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
