<h3 class="pt-2 pb-2"><%= @user.first_name %></h3>

<div class="container-fluid row chatroom-container">
  <div class="col-md-2 col-sm-2 bg-dark text-light side-panel h-100">
    <h5 class="pt-3"> Direct Messages </h5>
    <%= turbo_stream_from 'users' %>
    <div id="users">
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.first_name, start_chat_path(id: user.id) %></li>
        <% end %>
      </ul>
    </div>

    <%# Section below commented out for group chat %>
    <%# <h4> Rooms </h4> %>
    <%# <%= render 'layouts/new_chatroom_form' %>
    <%# <%= turbo_stream_from 'chatrooms' %>
    <%# <div id='chatrooms'> %>
      <%# <%= render @chatrooms %>
    <%# </div> %>
  </div>

  <div class="col-md-10 col-sm-10 chatroom h-100">
    <div class="h-100">
      <% if @single_room %>
        <div class="messages-container" data-controller="scroll">
          <%= turbo_stream_from @single_room %>
          <div id="messages"> <%= render partial: "messages/message", collection: @messages, locals: { user: current_user } %> </div>
        </div>
        <div class="new_message">
          <%= render 'layouts/new_message_form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
