<style>
  // Styling for current_user
  <%= ".msg-#{current_user&.id}" %> {
    padding: 10px;
    background-color: black !important;
  }

  <%= ".container-#{current_user&.id}" %> {
    display: flex;
    justify-content: flex-end;
  }

  <%= ".container-#{current_user&.id} .message-box" %> {
    padding: 10px;
    background-color: #313D2E !important;
    color: white;
  }

</style>

<div class="container-fluid row chatroom-container">
  <div class="col-md-2 col-sm-2 bg-light text-dark side-panel h-100">
    <%= turbo_stream_from 'users' %>

    <%# List users in the side panel %>
    <div id="users">
      <ul>
        <% @users.each do |user| %>
          <li class="my-2">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, height: 25, width: 25, crop: :fill %>
          <% else %>
            <img src="<%= user.profile_img_url %>" style="height: 25px; width: 25px; border-radius: 50%;" alt="">
          <% end %>
          <%= link_to user.first_name, start_chat_path(id: user.id), class:"ms-2" %> <%= user.online? ? icon('fa-solid', 'circle') : '' %>
          </li>
        <% end %>
      </ul>
    </div>

    <%# Section below commented out for group chat %>
    <%# <h4> Rooms </h4> %>
    <%# <%= render 'layouts/new_chatroom_form' %>
    <%# <%= turbo_stream_from 'chatrooms' %>
    <%# <div id='chatrooms'> %>
      <%# <%= render @chatrooms %>
    <%# </div> %>
  </div>

  <div class="col-md-10 col-sm-10 chatroom h-100 pe-0">
    <div class="h-100">
      <% if @single_room %>
        <div class="messages-container">
          <%= turbo_stream_from @single_room %>
          <div id="messages" data-controller="scroll"> <%= render @messages %> </div>
        </div>
        <div class="new_message">
          <%= render 'layouts/new_message_form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
