
<div class="container mt-5">

  <h2>Edit personal details</h2>

  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :city,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :postcode,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :gender,
                as: :radio_buttons, collection: [['0', 'Female'], ['1', 'Male'], ['2', 'Non-binary'], ['3', 'Prefer not to say']], label_method: :second, value_method: :first,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :dob,
                as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 18, discard_day: true, order: [:month, :year],
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :ability,
                as: :radio_buttons, collection: [['0', 'Beginner'], ['1', 'Intermediate'], ['2', 'Advanced'], ['3', 'Expert']], label_method: :second, value_method: :first,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :photo, as: :file %>
    <%= f.input :background, as: :file %>
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <p><%= link_to 'Back to profile', profile_path %></p>
</div>
