

<div class="container mt-5">

  <div class="cards">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>

          <div class="card-profile-small">

            <div class="card-bg">
              <div>
                <img src="https://image.shutterstock.com/image-photo/portrait-happy-mature-man-wearing-260nw-732336316.jpg" id="profile-image" alt="User profile image">
                <h5 id="profile-name"><%=  user.first_name %></h5>
                <p><%= "#{user.city}, Portugal" %></p>
                <p><%= user.age %></p>
              </div>
            </div>

            <div class="card-body w-100">
              <div>
                <h5 class="card-body__title">Instruments</h5>
                <% if user.user_instruments.empty? %>
                  <p class="card-body__details">Instruments yet to be added</p>
                <% else %>
                 <% instrument = [] %>
                 <% user.user_instruments.first(3).each do |user_instrument| %>
                  <% instrument << " #{user_instrument.instrument.name.capitalize}," %>
                  <% end %>
                   <p class="card-body__details"><%= instrument.join %></p>
                <% end %>
                <hr>
              </div>
              <div>
                <h5 class="card-body__title">Genre</h5>
                  <% if user.user_genres.empty? %>
                    <p class="card-body__details">Genre yet to be added</p>
                  <% else %>
                    <% genre = [] %>
                    <% user.user_genres.first(3).each do |user_genre| %>
                      <p class="card-body__details"><% genre << " #{user_genre.genre.name.capitalize}," %>
                    <% end %>
                    <%= genre.join %>
                    </p>
                  <% end %>
                <hr>
              </div>
              <div>
                <h5 class="card-body__title">Ability</h5>
                <p class="card-body__details"><%= user.updated_ability.capitalize %></p>
              </div>
            </div>
          </div>
          <br><br><br>
        <% end %>
      <% end %>
    </div>
  </div>


 <!--
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>

          <h2><%= user.first_name %></h2>
          <p><%= user.city %></p>

          <p><%= user.age %></p>
          <p><%= user.updated_ability %></p>
          <p><%= user.genres.name %></p>
          <p><%= user.instruments.name %></p>

      <% end %>
    <% end %>
    -->
