<div class="container mt-5">

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-4">
        <div class="card card-jamseeds mb-5">
          <img src="https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80" alt="" class="image__height">

          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <div class="card-body__image"></div>
                <div>
                    <%= link_to user_path(user) do %>

                      <h2 class="card-title card-body__title">  <%= user.first_name %></h2>

                    <% end %>
                  <p class="card-text"> <%= "#{user.city}, #{user.country}" %></p>
              </div>
            </div>
              <div class="d-flex justify-content-between card-body__details">
                <div>
                  <div>
                    <i class="fa-solid fa-guitar"></i>
                      <% if user.user_instruments.empty? %>
                      <p class="card-body__details">Instruments to be added</p>
                      <% else %>
                      <% instrument = [] %>
                      <% user.user_instruments.first(3).each do |user_instrument| %>
                      <% instrument << " #{user_instrument.instrument.name.capitalize}," %>
                      <% end %>
                      <p class="card-body__details"><%= instrument.join %></p>
                      <% end %>
                    </div>
                  <div>
                    <i class="fa-solid fa-music"></i>
                      <% if user.user_genres.empty? %>
                        <p class="card-body__details">Genre yet to be added</p>
                      <% else %>
                        <% genre = [] %>
                        <% user.user_genres.first(3).each do |user_genre| %>
                          <p class="card-body__details"><% genre << " #{user_genre.genre.name.capitalize}," %>
                        <% end %>
                        <%= genre.join %>
                        </p>
                      <% end %>
                  </div>
                </div>
                <div>
                  <div>
                    <i class="fa-solid fa-cake-candles"></i>
                    <span><%= user.age %></span>
                  </div>
                  <div>
                  <i class="fa-solid fa-building-columns"></i>
                  <span><%= user.updated_ability %></span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
