
<div>
  <%= render "shared/banner" %>

  <div style="position:absolute; left: 400px; top: 390px;">

    <%# User profile image %>
    <div class="profile__image">
      <%= render "shared/photo" %>
      <div style="position:absolute; right: 65px; bottom: 1px;">
        <%= link_to edit_user_path(@user) do %>
          <i class="fa-solid fa-user-pen"></i>
        <% end %>
      </div>
    </div>
    <div class="d-none">
      <%= simple_form_for @user do |f| %>
        <%= f.input :photo, as: :file %>
        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
  <% end %>
    </div>
  </div>

</div>

<div class="margin-top-bottom">
  <div class="profile d-flex mt-5" style="position:relative">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card user-card h-100">
          <div class="card-body">
            <div class="card-title border-bottom">
              <div class="d-flex justify-content-between">
                <h4 class="text-black fw-semibold">Your details</h4>
                <li class="list-unstyled">
                  <%= link_to edit_user_path(@user) do %>
                    <i class="fa-solid fa-user-pen"></i>
                  <% end %>
                </li>
              </div>
            </div>
            <ul class="list-unstyled">
              <li><i class="fa-regular fa-user p-2 icon-width-md"></i>
              <%= @user.first_name.blank? ? "" : @user.full_name %></li>
              <li><i class="fa-solid fa-location-dot p-2 icon-width-md"></i><%= @user.city.blank? ? "" : "#{@user.city}" %></li>
              <li><i class="fa-solid fa-cake-candles p-2 icon-width-md"></i><%= "#{@user.age} years old" %></li>
              <li><i class="fa-sharp fa-solid fa-building-columns p-2 icon-width-md"></i><%= "#{@user.updated_ability}" %></li>
            </ul>
            <h5 class="text-black fw-semibold">About Me</h5>
            <p> <%= current_user.bio %> </p>

          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="card user-card h-100">
          <div class="card-body">
            <div class="card-title border-bottom">
                <h4 class="text-black fw-semibold">Instruments</h4>
            </div>
            <% if @user.user_instruments.empty? %>
              <p>Instruments yet to be added</p>
            <% else %>
              <ul class="list-unstyled">
                <% @user.user_instruments.each do |user_instrument| %>
                  <li class="pt-1">
                    <%= user_instrument.instrument.name.capitalize %>
                    <%= link_to user_instrument_path(user_instrument), data: { "turbo-method": :delete } do %>
                      <i class="fa-regular fa-square-minus p-1 ml-5"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <div style="position:absolute; bottom: 20px;" >
            <%= simple_form_for @user_instrument do |f| %>
              <div class="d-flex align-items-center">
                <%= f.association :instrument,
                  collection: Instrument.where.not(id: current_user.instruments), class: "card-body-title" %>
                <%= f.button :submit, '+', class: 'btn btn-primary ms-2', style: 'padding-top: 6px; margin-top: 12px;' %>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
            <!--
            <button class="btn btn-primary"><%= link_to 'Add instrument', new_user_instrument_path %></button>
            -->
      <div class="col-6 col-lg-3">
        <div class="card user-card h-100">
          <div class="card-body">
            <div class="card-title border-bottom">
                <h4 class="text-black fw-semibold">Genres</h4>
            </div>
            <% if @user.user_genres.empty? %>
              <p>Genres yet to be added</p>
            <% else %>
            <ul class="list-unstyled">
              <% @user.user_genres.each do |user_genre| %>
              <li class="pt-1">
                <%= user_genre.genre.name.capitalize %>
                <%= link_to user_genre_path(user_genre),
                data: { "turbo-method": :delete } do %>
                  <i class="fa-regular fa-square-minus p-1 ml-5"></i>
                <% end %>
              </li>
              <% end %>
            </ul>
            <% end %>
            <div style="position:absolute; bottom: 20px; margin-top-bottom;">
              <%= simple_form_for @user_genre do |f| %>
                <div class="d-flex align-items-center">
                  <%= f.association :genre,
                    collection: Genre.where.not(id: current_user.genres), class: "card-body-title" %>
                  <%= f.button :submit, '+', class: 'btn btn-primary ms-2', style: 'padding-top: 6px; margin-top: 12px;' %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
