<div class="container">
  <p class="mt-3"><%= link_to '<< Back to profiles', users_path %></p>

  <div class="profile d-flex">
    <div class="profile__image">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>



      <%# <h1><%= @user.full_name.capitalize </h1>
      <%# <p><%= @user.city </p>
      <%# <p><%= @user.updated_ability.capitalize </p>
      <%# <% if @user.dob.present? %>
      <%# <p>Age: <%= @user.age </p> %>
      <%# <% end %>
      <div >
        <h5 class="mt-3">Age:</h5>
        <p><%= @user.age %></p>
      </div>
      <div>
        <h5>Experience:</h5>
        <p><%= @user.ability %></p>
      </div>
      <button class="btn btn-primary d-block mt-4" ><%= link_to 'Edit personal details', edit_user_path(@user) %></button>
    </div>
      <div class="row w-100">
        <div class="col-6">
          <div class="card card-jamseeds">
            <div class="card-body">
              <div class="card-title border-bottom">
                <h4>Instruments</h4>
              </div>
            <% if @user.user_instruments.empty? %>
            <p>No instruments added</p>
          <% else %>
            <ul>
              <% @user.user_instruments.each do |user_instrument| %>
                <li>
                  <%= user_instrument.instrument.name %>
                  <%= link_to 'X', user_instrument_path(user_instrument),
                    data: { "turbo-method": :delete } %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <button class="btn btn-primary"><%= link_to 'Add instrument', new_user_instrument_path %></button>
            </div>
            </div>

        </div>

        <div class="col-6">
          <div class="card card-jamseeds">
          <div class="card-body">
            <div class="card-title border-bottom">
              <h4>Genres</h4>
            </div>
           <% if @user.user_genres.empty? %>
            <p>No genres added</p>
          <% else %>
          <ul>
            <% @user.user_genres.each do |user_genre| %>
              <li>
                <%= user_genre.genre.name %>
                <%= link_to 'X', user_genre_path(user_genre),
                  data: { "turbo-method": :delete } %>
              </li>
            <% end %>
          </ul>
          <% end %>
          <button class="btn btn-primary">
            <%= link_to 'Add a genre', new_user_genre_path %>
          </button>
          </div>

          </div>

        </div>
      </div>
    </div>
</div>
