<div class="container">

  <h1>Users#show</h1>


  <p>Name: <%= @user.full_name.capitalize %></p>
  <p>Location: <%= @user.postcode %></p>
  <p>Ability: <%= @user.ability %></p>
  <% if @user.dob.present? %>
  <p>Age: <%= @user.age %></p>
  <% end %>



  <h6>Instruments:</h6>
  <ul>
    <% @user.user_instruments.each do |user_instrument| %>
      <li>
        <%= user_instrument.instrument.name %>
        <%= link_to 'X', user_instrument_path(user_instrument),
          data: { "turbo-method": :delete } %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to 'Add instrument', new_user_instrument_path %></p>

  <% if current_user ==  @user %>
    <%= link_to 'Edit my profile', edit_user_registration_path %>
  <% end %>
  <%= link_to 'Back to profiles', users_path %>
</div>
