  <div>
    <%= render "shared/banner" %>
  </div>
    <div style="position:absolute; left: 450px; top: 390px;">

      <%# User profile image %>
      <div class="profile__image">
         <%= render "shared/photo" %>
      </div>
    </div>


  <div class="container margin-top w-75">
    <div class="card user-card h-100 card-margin">

        <div class="border-bottom">
          <h1 class="text-black fw-semibold"><%= @user.first_name.blank? ? "" : @user.full_name %></h1>
        </div>

      <ul class="list-unstyled d-flex mt-3">
      <div>
        <li><i class="fa-solid fa-location-dot p-3 icon-width"></i><%= @user.city.blank? ? "" : "#{@user.city}, Portugal" %></li>
        <li><i class="fa-solid fa-cake-candles p-3 icon-width"></i><%= @user.age.blank? ? "" : "#{@user.age} years old" %></li>
        <li><i class="fa-solid fa-venus-mars p-3 icon-width"></i><%= @user.gender.blank? ? "" : "#{@user.gender.capitalize}" %></li>
      </div>
      <div>
        <li><i class="fa-sharp fa-solid fa-building-columns p-3 left-margin icon-width"></i><%= "#{@user.updated_ability.capitalize}" %></li>
        <li><i class="fa-solid fa-guitar p-3 left-margin icon-width"></i>
          <% if @user.user_instruments.empty? %>
            User yet to add instrument
          <% else %>
            <% instrument = @user.user_instruments.map do |user_instrument| %>
              <% user_instrument.instrument.name.capitalize %>
            <% end %>
              <%= instrument.to_sentence %>
          <% end %>
        </li>
        <li class="ml-1"><i class="fa-solid fa-music p-3 left-margin icon-width"></i>
          <% if @user.user_genres.empty? %>
            User yet to add genre
          <% else %>
            <% genre = @user.user_genres.map do |user_genre| %>
              <% user_genre.genre.name.capitalize %>
            <% end %>
              <%= genre.to_sentence %>
          <% end %>
        </li>
      </div>
      </ul>
      <div>
        <h5 class="card-body-title fw-semibold text-black"><%= "About #{@user.first_name.capitalize}"  %></h5>
        <p><%= @user.bio %></p>

        <div class="d-flex justify-content-between align-items-center">
          <%= link_to "Message", start_chat_path(id: @user), class:"btn btn-primary mt-2" %>
          <div>
            <audio
              controls
              src="/media/cc0-audio/t-rex-roar.mp3">
                  Your browser does not support the
                  <code>audio</code> element.
            </audio>
          </div>
        </div>

      </div>
    </div>


    <%= link_to users_path do %>
      <a onclick="history.back()">
      <i class="fa-solid fa-arrow-left mt-4 ms-2"></i>
      </a>
    <% end %>

  </div>
