<div class="container">

  <p><%= link_to 'Back to profiles', users_path %></p>


  <h1><%= @user.full_name.capitalize %></h1>
  <p>Location: <%= @user.postcode %></p>
  <p>Ability: <%= @user.ability %></p>
  <% if @user.dob.present? %>
  <p>Age: <%= @user.age %></p>
  <% end %>

  <% if current_user ==  @user %>
    <p><%= link_to 'Edit personal details', edit_user_path %></p>
  <% end %>


  <h6>Instruments:</h6>
  <ul>
    <% @user.user_instruments.each do |user_instrument| %>
      <li>
        <%= user_instrument.instrument.name %>
        <%= link_to 'X', user_instrument_path(user_instrument),
          data: { "turbo-method": :delete } %>
      </li>
    <% end %>
  </ul>

  <% if current_user ==  @user %>
    <p><%= link_to 'Add instrument', new_user_instrument_path %></p>
    <p><%= link_to 'Manage my account', edit_user_registration_path %></p>
  <% end %>

</div>
