<div class="navbar navbar-expand-sm navbar-light navbar-jamseeds border-bottom">

  <div class="container">
    <div>
      <%= link_to user_signed_in? ? users_path : root_path do %>
        <h2 class="fw-bold mb-0 navbar-title-color">
          Jamseed
        </h2>
      <% end %>
    </div>
    <div>
      <%= form_with url: users_path, method: :get, class: "search-bar" do %>
        <ul class="navbar-nav me-auto">
          <%= text_field_tag :query, params[:query], class: "form-control search", placeholder: "Search by City" %>
          <%= submit_tag "Search", class: "btn btn-secondary" %>
        </ul>
      <% end %>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto align-items-center">
          <li class="nav-item" id="navbarDropdown" data-bs-toggle="dropdown">
            <i class="fa fa-bars pe-3 text-white"></i>
              <li class="nav-item dropdown">

            <%# User profile photo %>
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag current_user.profile_img_url, class: "avatar" %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Find Musicians", users_path, class: "dropdown-item" %>
              <%= link_to "Messages", start_chat_path, class: "dropdown-item" %>
              <%= link_to "My Profile", profile_path, class: "dropdown-item" %>
              <%= link_to 'Manage my account', edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
        <% else %>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
</div>
