<!DOCTYPE html>
<html>
  <head>
    <title>Jamseeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if controller_name != 'pages' && action_name != 'home' %>
      <%= render "shared/navbar"  %>
      <div class="main-content container">
        <%= yield %>
      </div>
    <% else %>
        <%= yield %>
    <% end %>

    <% unless action_name == 'chatroom' || devise_controller? %>
          <%= render "shared/footer"  %>
    <% end %>
  </body>
</html>
